@import '../../assets/colors';

:local(.products) {

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $container-primary;
        margin: 0;
        padding: 0;
    }
}